
NET "CLK_100MHz" LOC = V10 | IOSTANDARD = LVCMOS33 | PERIOD = 100MHz ;
NET "RX" LOC = A8  | IOSTANDARD = LVCMOS33; // It will be A8 as TX/RX pins are swapped.
NET "TX" LOC = B8  | IOSTANDARD = LVCMOS33;

# NET "IO_P6_0" LOC = T3 | IOSTANDARD = LVCMOS33;
# NET "IO_P6_1" LOC = R3 | IOSTANDARD = LVCMOS33;
# NET "LED_0" LOC = T18;
# NET "LED_1" LOC = T17;
#NET "SW2" LOC = L18 | PULLUP;
# NET "rstn_i" LOC = M18 | PULLUP;
